.fix-box {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: transparent;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: .5s;
    z-index: 5000;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup:target .popup_content {
    transform: translate(0, 0);
    opacity: 1;
}

.popup_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.popup_content {
    background-color: white;
    color: rgba(0, 93, 105, .8);
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    position: relative;
    width: 16rem;
    transition: .5s;
    opacity: 0;
    /*transform: translate(0 , -100%);*/
    transform: perspective(600px) rotateY(-90deg);
    backface-visibility: hidden;
}

.popup_close {
    font-size: 1.5rem;
    color: tomato;
    position: absolute;
    top: .2rem;
    right: .8rem;
    cursor: pointer;
    transition: .5s;
}

.popup_close:hover {
    opacity: .8;
}

.popup_title {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0 0 1rem 0;
    text-align: center;
    font-weight: 600;
}

.login-form {
    margin: 0;
    padding: 0;
    width: 100%;
}

.login-input {
    font-family: 'Oswald-Regular', 'Arial', sans-serif;
    color: rgba(0, 93, 105, .8);
    border: 1px solid rgba(0, 93, 105, .8);
    padding: .5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    outline: none;
    width: 100%;
}

.popup_text a.login-submit {
    font-family: 'Oswald-Regular', 'Arial', sans-serif;
    background-color: rgba(0, 93, 105, .8);
    color: white;
    padding: .5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    outline: none;
    width: 100%;
    transition: .5s;
    border: 1px solid rgba(0, 93, 105, .8);
    display: block;
    text-align: center;
}

.login_submit {
    font-family: 'Oswald-Regular', 'Arial', sans-serif;
    background-color: rgba(0, 93, 105, .8);
    color: white;
    padding: .5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    outline: none;
    width: 100%;
    transition: .5s;
    border: 1px solid rgba(0, 93, 105, .8);
    display: block;
    text-align: center;
    cursor: pointer;
}

.popup_text a.login-submit:hover {
    background-color: white;
    color: rgba(0, 93, 105, .8);
}

.login_submit:hover {
    background-color: white;
    color: rgba(0, 93, 105, .8);
}

.popup_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.popup_text a {
    font-size: 1rem;
    color: rgba(0, 93, 105, .8);
    transition: .5s;
    padding: .25rem 0;
    display: block;
    text-decoration: none;
    /*width: 50%;*/
}

.popup_text a.reg-link {
    width: 100%;
    text-align: center;
}

.popup_text a.last-link {
    text-align: right;
}

.popup_text a:hover {
    color: rgba(0, 93, 105, 1);
}

.password-control {
    position: absolute;
    top: 50%;
    transform: translateY(-75%);
    right: .33rem;
    width: 2rem;
    height: 40%;
    display: block;
    background: url(../images/view.svg) 0 0 no-repeat;
    opacity: .5;
}

.password-control.view {
    background: url(../images/no-view.svg) 0 0 no-repeat;
}
